@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap');

// Set your brand colors
$sun: #F55400;
$emerald: #76B39D;
$light: #F7F4D3;
$cream-light: #F6F5E7;

// Update Bulma's global variables
$family-sans-serif: "M PLUS 1p",
sans-serif;
$primary: $sun;
$info: $emerald;
$link: $emerald;
$orange: $sun;
$green: $emerald;

// Update some of Bulma's component variables
$body-background-color: $cream-light;
$navbar-background-color: $light;
$navbar-item-hover-color: #555;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-item-active-color: $sun;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";